<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>DATA ALL</h2>
    <h3>{{sql}}</h3>
    <table border="1">
        {% for key in result.0 %}
        <th>{{key }}</th>
        {% endfor %}
        {% for data in result %}
        <tr>
            {% for value in data.values %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>